body {
    font-family: Arial, sans-serif;
    background: #101820;
    color: white;
    text-align: center;
}

.container {
    margin-top: 20px;
}

#wheel {
    position: relative;
    margin: auto;
}

#pointer {
    width: 60px;
    position: absolute;
    top: 145px;
    left: 145px;
}

#spinBtn {
    margin-top: 25px;
    padding: 12px 30px;
    background: #ffcc00;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.stats {
    margin-top: 20px;
    font-size: 18px;
}
